body {
    margin: 3% 0% 0% 3%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.tt1 {
    font-size: xxx-large;
}

#tt2 {
    color: grey;
    font-size: xxx-large;
}

#topleft {
    color: gray;
    font-size: xx-large;
    float: right;
    margin-right: 5%;
    cursor: pointer;
}

.inner1 {
    font-size: x-large;
}

.popup {
    position: absolute;
    top: 200px;
    left: 500px;
    border: 1.5px solid #eb8282;
    box-shadow: 3px 3px 10px #575656;
    border-radius: 5px;
    text-align: center;
    width: 27%;
    height: 150px;
    z-index: 1;
    background-color: white;
    padding-top: 24px;
    zoom: 120%;
    display: none;
}

.popup1 {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 1.5px solid #eb8282;
    box-shadow: 3px 3px 10px #575656;
    border-radius: 5px;
    text-align: center;
    width: 27%;
    height: 25%;
    z-index: 1;
    background-color: white;
    padding-top: 24px;
    zoom: 120%;
    display: none;
}

#lk {
    color: #d14848;
}

.badd {
    border-radius: 10px;
    background-color: red;
    height: 26px;
    width: 63px;
    zoom: 115%;
    color: white;
}

.badd1 {
    border-radius: 10px;
    background-color: red;
    height: 26px;
    width: 63px;
    zoom: 115%;
    color: white;
}

.home {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

.bac1 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: x-large;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 8%;
}

.child {
    display: flex;
    justify-content: space-evenly;
}

.boxs {
    height: 325px;
    width: 255px;
    color: rgb(255, 140, 8);
    background-color: white;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 1%;
    border-radius: 15px;
    position: relative;
}

#done {
    border: none;
    margin-left: 15%;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.addIcon {
    color: #4a89e9;
    cursor: pointer;
}

.deleteIcon {
    color: red;
    padding-right: 10px;
    cursor: pointer;
}

.bothIcon {
    position: absolute;
    top: 88%;
    right: 15px;
    zoom: 140%;
}

.line {
    background-color: black;
    height: 1px;
    margin-top: 10px;
}

.donecheck{
    border: none;
    background: none;
    border: 2px solid red;
    border-radius: 15px;
    margin-left: 12px;
    color: red;
    cursor: pointer;
    margin-top: 10px;
}
.donecheck:hover{
    color: green;
    border-color: green;
}
#trip{
    display: none;
    position: fixed;
    top: 5%;
    margin-left: 35%;
    font-size: 50px;
}
#trip::before{
    content: "-----";
}
#trip::after{
    content: "-----";
}
#goback{
    position: fixed;
    top: 80%;
    left: 51%;
    display: none;
    z-index: 5;
}
.goback{
    border-radius: 15px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    color: green;
    border: 1px solid white;
    font-size: large;
    background: black;

}